<% provide(:title,"Contact")%>
<div class="center jumbotron">
	<h1>Welcome to the Contact Sample App</h1>
	<h2>You can contact me via email:<a href="https://github.com/PhamTienDung">https://github.com/PhamTienDung</a></h2>
</div>